In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import seaborn as sns

In [4]:
# 데이터 준비
df = pd.read_csv('C:/Users/ktm/Anaconda_src/data/bike_train.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.6+ KB

In [8]:
# 데이터 컬럼 나누기
# data에는 예측하고자 하는 'count'는 제외
# 'casual' , 'registered' 는 과적합 일어나므로 제외
# datetime 컬럼도 데이터 형태가 object라서 일단 제외
data = df.drop(['count','datetime', 'casual', 'registered'], axis=1)

In [9]:
target = df['count']

In [11]:
# sklearn 라이브러리에서 train_test_split 불러오기
from sklearn.model_selection import train_test_split

In [12]:
# train_test_split으로 train 데이터, test 데이터를 나눈다.
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=0)

In [13]:
# sklearn에서 LinearRegression 을 불러오기
from sklearn.linear_model import LinearRegression

In [15]:
# train 데이터로 LinearRegression 모델 만들기
model = LinearRegression().fit(X_train, y_train)

In [17]:
# 만들어진 모델로 test 데이터 예측하기
pred = model.predict(X_test)
pred

array([194.80699865, 151.39614101, 170.46567048, ..., 124.00349743,
       300.19309867, 120.38550688])

In [20]:
# 데이터 프레임 만들기(보기좋게)
dat = pd.DataFrame({'y_test':y_test, 'prediction':pred, 'diff':y_test-pred})
dat

       y_test  prediction        diff
6638      244  194.806999   49.193001
7975      239  151.396141   87.603859
5915      229  170.465670   58.534330
8050      467  299.406880  167.593120
5894      335  203.104639  131.895361
1466       40  237.968577 -197.968577
10710     329  227.383760  101.616240
5138        2  155.904027 -153.904027
1726      141  264.794417 -123.794417
3943      391  213.067996  177.932004
1656      104  192.571836  -88.571836
5168      126  143.512230  -17.512230
1550      202   76.745520  125.254480
5742      149   93.242001   55.757999
154       187  142.872702   44.127298
2182      283  149.785266  133.214734
7921      413  318.973198   94.026802
9597      133  166.365082  -33.365082
8605       68  179.887469 -111.887469
7603        4   92.093693  -88.093693
6239       20   71.159200  -51.159200
8695      450  402.287241   47.712759
7503      136  245.138124 -109.138124
2378       20  211.602455 -191.602455
2263       31  302.851507 -271.851507
1599      106  189.705508  -83.705508
5629       49    1.974650   47.025350
10346     290  261.654638   28.345362
10046     148  182.658813  -34.658813
8114      121  117.533966    3.466034
...       ...         ...         ...
356        18   85.028471  -67.028471
4174       73  179.107432 -106.107432
8262      254  430.617435 -176.617435
10624      78  123.470942  -45.470942
7344      284  165.064154  118.935846
4134      309  148.143153  160.856847
2054      207  211.756586   -4.756586
7642      537  323.579783  213.420217
5518        5   91.333323  -86.333323
4528      460  213.821644  246.178356
9587      497  273.297534  223.702466
2805      368  312.976247   55.023753
2709      318  393.371303  -75.371303
4757      121  199.205921  -78.205921
7908      316  313.598029    2.401971
4617      238  228.041707    9.958293
987       198  168.344693   29.655307
8908      254  352.972307  -98.972307
3656       23  206.967060 -183.967060
2570       52  199.473475 -147.473475
825       139  166.038097  -27.038097
8701      269  281.396880  -12.396880
5964       67   73.638780   -6.638780
7261      211  207.713677    3.286323
5143      225  174.760153   50.239847
6111      122   89.747851   32.252149
1917      292  241.911069   50.088931
5702      421  124.003497  296.996503
4813      310  300.193099    9.806901
5125       30  120.385507  -90.385507

[2722 rows x 3 columns]

In [21]:
# MAE(mean absolute error 평균절대값 오차)
sum(abs(dat['diff']))/len(dat['diff'])

116.89028273321584

In [22]:
# MSE(mean square error 평균 제곱 오차)
dat['diff']**2

6638      2419.951381
7975      7674.436110
5915      3426.267732
8050     28087.453783
5894     17396.386324
1466     39191.557627
10710    10325.860240
5138     23686.449457
1726     15325.057758
3943     31659.798034
1656      7844.970050
5168       306.678188
1550     15688.684730
5742      3108.954497
154       1947.218440
2182     17746.165309
7921      8841.039455
9597      1113.228691
8605     12518.805752
7603      7760.498672
6239      2617.263793
8695      2276.507358
7503     11911.130146
2378     36711.500939
2263     73903.242086
1599      7006.612079
5629      2211.383582
10346      803.459544
10046     1201.233289
8114        12.013390
             ...
356       4492.815943
4174     11258.787046
8262     31193.718349
10624     2067.606585
7344     14145.735374
4134     25874.925323
2054        22.625112
7642     45548.188925
5518      7453.442707
4528     60603.783148
9587     50042.793395
2805      3027.613444
2709      5680.833379
4757      6116.166105
7908         5.769465
4617        99.167594
987        879.437206
8908      9795.517545
3656     33843.879187
2570     21748.425698
825        731.058668
8701       153.682645
5964        44.073400
7261        10.799920
5143      2524.042185
6111      1040.201108
1917      2508.901017
5702     88206.922536
4813        96.175314
5125      8169.539854
Name: diff, Length: 2722, dtype: float64

In [23]:
mse_value = sum(dat['diff']**2)/len(dat['diff'])
mse_value

24056.02243185304

In [25]:
import numpy as np

In [27]:
#RMSE ( root mean square error 평균 제곱근 오차)
result = np.sqrt(mse_value)
result

155.1000400768905

In [29]:
# 훈련 데이터셋과 테스트 데이터셋 점수 확인
print('훈련 데이터 세트 점수: {:.2f}'.format(model.score(X_train, y_train)))
print('테스트 데이터 세트 점수: {:.2f}'.format(model.score(X_test, y_test)))

훈련 데이터 세트 점수: 0.26
테스트 데이터 세트 점수: 0.27

In [ ]:
# 중요한 컬럼을 빼서 점수가 낮다?